microscope: {}
lasers: {}
stage:
  limits:
    x_axis:
      min_mm: 1.0
      max_mm: 12.31
      soft_min_mm: 1.5
      soft_max_mm: 11.81
    y_axis:
      min_mm: 5.0
      max_mm: 20.0
      soft_min_mm: 5.5
      soft_max_mm: 19.5
    z_axis:
      min_mm: 12.5
      max_mm: 26.0
      soft_min_mm: 13.0
      soft_max_mm: 25.5
    r_axis:
      min_degrees: -720.0
      max_degrees: 720.0
      soft_min_degrees: -710.0
      soft_max_degrees: 710.0
camera: {}
filter_wheel: {}
illumination:
  light_sheet:
    left_path:
      enabled: true
      x_offset_um: 0.0
      y_offset_um: 0.0
      amplitude: 1.0
      frequency_hz: 100.0
    right_path:
      enabled: true
      x_offset_um: 0.0
      y_offset_um: 0.0
      amplitude: 1.0
      frequency_hz: 100.0
objectives: {}
sample_chamber: {}
calibration: {}
safety: {}
metadata:
  config_version: '1.0'
  schema_version: 2024.11.18
  created_date: '2025-11-18'
  modified_date: '2025-11-18'
  modified_by: migration_service
  migrated_from: legacy_format
